%h1 Secret Santa

-#= link_to "Create a form list", new_list_path

%h3 Submit your group participants (comma separated)

= form_tag root_path, remote: true, method: :get, id: "santa-list" do
  = label_tag :people
  = text_area_tag :people

  = submit_tag "Create my Secret Santa List!"

#santa-result-list


:javascript
  $("#santa-list").bind('ajax:success', function(e, data, status, xhr) {

        $('#santa-result-list').show().text((data));

      }).bind('ajax:error', function(e, data, status, xhr) {
        alert("failing!");
      });
