.container
  %h1 Secret Santa

  %h3 Submit your group participants (comma separated)

  = form_tag root_path, remote: true, method: :get, id: "santa-list" do
    .form-group
      = label_tag :people
      = text_area_tag :people, '', class: "form-control"

    = submit_tag "Create my Secret Santa List!", class: 'btn btn-sm'

  #santa-result-list


:javascript
  $("#santa-list").bind('ajax:success', function(e, data, status, xhr) {

        $('#santa-result-list').show().html((data));

      }).bind('ajax:error', function(e, data, status, xhr) {
        alert("failing!");
      });
